/* ========== HEADINGS ========== */

h1,
h2,
h3 {
    background: var(--vp-c-bg);
    border-left: 1px solid var(--vp-c-divider);
    padding: 0px 12px;
    border-top: 0 !important;
}

h2>* {
    margin-left: 16px;
}

.header-anchor {
    left: -0.2em !important;
    right: auto !important;
}