    .VPNavBar .MascotButton {
        height: 40px;
        display: flex;
        justify-content: center;
        background: var(--vp-c-bg) !important;
        border: none;
        color: var(--vp-c-text-2);
        font-size: 13px;
        cursor: pointer;
        transition: color .15s ease;
        border: 1px solid var(--vp-c-divider);
        margin-top: 40px !important;
        margin-right: 6px;
        width: 50px !important;
        height: 22px !important;
        color: var(--vp-c-text-2);
    }

    .VPNavBar .MascotButton:hover {
        border: 1px solid var(--vp-c-brand-1) !important;
    }

    body:has(.VPHome) .VPNavBar .MascotButton {
        display: none !important;
    }

    @media (max-width: 768px) {
        .VPNavBar .MascotButton {
            display: none !important;
        }
    }