/* ========== NAVBAR ========== */

.VPLocalNav,
.VPNavBar:not(.top),
.VPNavBar.has-sidebar.top,
.VPLocalNav.has-sidebar {
    background-color: transparent !important;
    backdrop-filter: none !important;
    border-bottom: none !important;
    box-shadow: none !important;
}

/* ========== NAVBAR ========== */

.VPNavBar .content-body {
    background-color: transparent !important;
    backdrop-filter: none !important;
    box-shadow: none !important;
    border-bottom: none !important;
    gap: 0px !important;
}

.VPNavBar .divider {
    display: none !important;
}

/* ========== NAVBARAPPEARANCE ========== */

body:has(.VPHome) .VPNavBarAppearance {
    display: none !important;
}

/* ========== NAVBAR EXTRA ========== */

.VPNavBarExtra {
    display: none !important;
}

/* ========== NAV DROPDOWN ========== */

.VPLocalNavOutlineDropdown {
    display: none !important;
}

/* ========== NAVBAR HAMBURGER ========== */

.VPNavBarHamburger {
    display: none !important;
}

.VPNavBarTitle.has-sidebar .title {
    border-bottom: none !important;
}

.VPNavBarTitle {
    margin-top: 24px;
    margin-left: 10px
}

.VPNavBarTitle .logo {
    width: 100px !important;
    height: auto !important;
    position: relative;
    top: 0;
    margin-right: 12px;
    margin-left: 0;
    max-width: 30px;
    transition: transform 0.15s ease;
    pointer-events: none !important;
    outline: 1px solid color-mix(in srgb, var(--vp-c-divider) 100%, transparent);
}

.curtain,
.VPTheme .curtain {
    min-height: 110px !important;
    height: 110px !important;
    overflow: visible !important;
    background-color: var(--vp-c-bg-soft) !important;
}


.VPNavBarTitle.visible {
    opacity: 1;
    transform: translateY(0px);
}

.VPNavBarTitle.faded {
    opacity: 0;
    transform: translateY(-8px);
}

body:has(.VPHome) .VPNavBarTitle {
    display: none !important;
}


/* ========== CURTAIN ========== */

.curtain,
.VPTheme .curtain {
    background-color: var(--vp-c-bg-soft) !important;
    visibility: hidden;
}

/* ========== OTHER ========== */

@media (max-width: 768px) {
    .VPNavBarTitle {
        margin-top: 12px;
        margin-left: 0px;
    }

    .curtain {
        min-height: 0px !important;
        height: 0px !important;
    }

    .VPNavBarTitle .logo {
        max-width: 22px;
    }

    .VPLocalNav {
        transform: translateY(12px);
        height: 44px;
    }
}